.topnav{
  overflow:hidden;
  background-color: black;
}

.topnav a{
  float:left;
  display: block;
  color:red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover{
  background-color: green;
  color:white;

}
body{
  background-color: #DAF7A6;
}

img{
  float:left;
  padding: 16px;
  border-style: solid;
}
.gallery
{
  float: left;
}

.desc{
  padding: 4px;
  text-align: center;
  border-style: solid;
}
