.ali{
	height: 70px;
	background-color: #CFE2E3;
	padding:10px;

}
body{
	background-image: url('background_image.jpg');
}
h1{
	color: green;
	height: 50px;
	width: 50px;
	font-size:50px;
	text-shadow : 2px 2px 4px;
	position:relative;

}
.head{
	background-color:#CFE2E3;
	height:100px;


}
#back{
	width:100%;
	margin-top: 70px;
	height:50%;
}

#Books_Text{
	text-align:center;
	color: black;
	text-decoration: underline;
	font-size:100px;
}
.centered {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:100px;
  font-family: "Times New Roman",serif;
}

.menu{
 text-align:center;
}

ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:#333
}

li{
float:right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #CFE2E3;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
